*{
    padding: 0;
    margin: 0;
}

body{
    width: 100%;
    max-width: 1476px;
    background-color: white;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    font-size: 16px;
}

header{
    background-color: rgb(24, 75, 77);
    text-align: center;
}

#title{
    padding: 20px 0;   /* antes 1.35% */
    color: white;
}

nav{
    background-color: rgb(245, 210, 158);
    padding: 20px 0;  /* antes 1.35% */
    font-size: 19px;  /* antes 1.2rem */
}

#list-box{
    padding: 0;
}

#list-box li{
    list-style: none;
    display: inline-block;
}

#inicio{
    padding: 0 210px;
    width: 100px;
}

#news{
    padding-right: 210px;
    width: 100px;
}

#board{
    padding-right: 160px;
    width: 80px;
}

#form{
    padding-right: 260px;
    width: 130px;
}

.nav-a{
    background-color: rgb(245, 210, 158);
    color: black;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.nav-a:hover{
    background-color: aliceblue;
}

main{
    background-color: cadetblue;
    margin: 50px;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    text-align: justify;
    display: flow-root;
}

aside{
    width: 300px;
    float: left;
    background-color: rgb(245, 210, 158);
    padding: 20px;
    margin: 50px;
    border: solid 1px black;
    border-radius: 10px;
    color: black;
    text-align: justify;
    position: relative;
}

#img-aside{
    display: block;
    width: 260px;
    margin: 0 auto;
    border-radius: 30px;
}

h2{
    color: black;
    text-align: left;
    font-size: 24px;
}

aside h2{
    padding-left: 20px;
    margin: 20px 0 15px 0;
}

aside p{
    padding: 0 20px;
    margin-bottom: 60px;
}

h3{
    color: black;
    text-align: left;
}

#enlace{
    position: absolute;
    left: 50px;
    bottom: 0;
}

#enlaceA{
    background-color: transparent;
    transition: color 0.3s;
}

#enlaceA:hover{
    text-decoration: underline;
}

section{
    float: left;
}

#titleForm{
    margin-top: 30px;
}

form{
    color: black;
    background-color: rgb(181, 222, 223);
    width: 650px;
    margin: 30px auto;
    padding: 50px 130px;
    border: solid 1px black;
    border-radius: 10px;
}

input{
    margin-bottom: 30px;
}

input[type="text"]{
    color: blue;
    padding-left: 5px;
}

input[name="age"]{
    width: 50px;
}

#sendButton{
    width: 96%;
}

footer{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
}